<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
    <head>
        <title>Strona główna</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h2>Witam na stronie głównej</h2>
        <section layout:fragment="content">
        <div class="navMenu">
            <a href="/add">Dodawanie</a> |
            <a href="/multiply">Mnożenie</a> |
            <a href="/calculate">Uniwersalny kalkulator</a>
        </div>    
            
            
        </section> 
    </body>
</html>
